.bg13 {
    background-color: #ded1e9;
    text-align: left;
    height: 1000px;
}
.home-taker{
    margin-left: 20px;
}
.login{
    text-decoration: none;
}
.girl{
    margin-top: 10%;
}
.m-login{
    font-size: 20px;
    text-align: center;
}
.line {
    margin: 5px ;
    height: 4px;
    background: repeating-linear-gradient(
      to right,
      transparent,
      transparent 10px,
      #E0E0E0 10px,
      #E0E0E0 20px
    );
}
.bg23 {
    background-color: #ffffff;
    border-radius:10%;
    text-align: center;
    margin: 10% 7%;
    height: 750px;
}
.phone-bg1{
    display: flex;
    background: #F8F8F8;
    border-radius: 15px; 
    margin: 10px 0px;
    box-sizing: content-box;
    justify-content: center;
    height: 80px;
    padding: 4px;
}
.Profile1{
    height: 50px;
    width: 50px;
}
.input-p1{
    border: 0px;
    height: 50px;
    width: 200px;
    margin-top: 10px;
    background-color:darkgrey;
    margin-left: 10px;
    border-radius: 7px;
}
.b1{
    height: 40px;
    background-color: black;
    color: white;
    width: 250px;
    font-weight: lighter;
    margin:10px 20px;
    border: 0px;
    border-radius: 10px;
}
.b2{
    height: 40px;
    background-color: white;
    width: 250px;
    font-weight: lighter;
    margin:10px 20px;
    border: 0px;
    border-radius: 10px;
    background-color:gainsboro;
}
.l{
    text-decoration: none;
}
input::placeholder{
    padding-left: 10px;
}